body {
    line-height: 1.5;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}

ol, ul {
    list-style: none;
}
ul.nav.navbar-nav {
    padding: 30px;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
h1, h2, h3, h4, h5, h6
{
    font-family: 'Lato', sans-serif;
}

#container {
    width: 1050px;
    max-width: 100%;
    margin: 0 auto;
    overflow: auto;
}

/**Service Section**/


#service-section {
    background: url('../images/service-background.png');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;

}



#service-section img{
    top: 25%;
    position: absolute;
    margin-left: -8px;
    text-indent:20px;
    clear:both;
}

#service-section p {
    color: black;
    font-size: 10pt;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif, roboto;
    text-align: justify;
    margin-left: 12px;
    clear:both;

}

#service-section h2{
    color: black;
    margin-left: 12px;

}

#service-section .service-content{
    margin-left: 93px;
}
#service-section .service{
    margin: 0 auto;
}
/**End of Service Section**/

/* MAIN ABOUT SECTION */
#about {
    background: #eee;
    text-align: center;
    padding-top: 20px;
}
#about h1{
    font-size: 36px;
    font-weight: bolder;
    font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;


}
#about h2{
    font-size: 25px;
    font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS",Verdana, sans-serif, Roboto;


}
#about .btn
{

    border-radius: 0;
    border: 2px solid transparent;
    color: #FFFFFF;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    height: 50px;
    width: 200px;
    font-size: 12pt;
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif, Roboto;
    margin-left: 15px;
    margin-right: 34px;
    top: 18px;
    margin-bottom: 20px;

}

#about .title{

    margin-top: 25px;
}

/* END OF MAIN ABOUT SECTION */

/*MAIN PACKAGE SECTION */
.margin-pro{
    margin: 50px;
}
#package-section{
    background: url('../images/package-background.png');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    overflow:auto;
}

.opt1 label{
    color: white;
    padding:0px;
}
.opt1 .options{
    background-color: rgba(0,0,0,.7);
    margin-bottom: 50px;
    padding-left: 25px;
}
.opt1 .options2{
    background-color: rgba(0,0,0,.7);
    padding-left: 20px;
    padding-bottom: 15px;
    margin-bottom: 28px;
    clear: both;
}
.options2 .pull-right{
    padding-right: 15px;

}

.t3 {
    background-image: url('../images/type3-1.png');
    background-size: cover;
    background-position: center;
    filter: alpha(opacity=50);
    margin: 0 auto;
}
.t3:hover {
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}
.t3 h1{
    color: darkred;
    font-weight: bolder;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
    margin-bottom: 10px;
    padding-top: 15px;

}
.t3 p {
    padding: 10px;
    color: white;
    background-color: rgba(0,0,0,.7);
}
.t3 .opt1 ul   {
    list-style: none;
    margin-left: -2px;
    padding: 0;
}
.t3  .opt1 ul li {
    display: inline-block;
}
.t3 .opt1 ul li a{
    display: inline-block;
    padding: 2px;
    font-size: 13px;
    color: 	darkred;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    font-weight: bolder;
    text-align: center;

}
.t3 .opt1 ul li a img{
    width: 85px;
    height: 85px;
    display: block;
    font-size: 13px;
    color: white;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
}
.t3 .opt1 ul li a:hover img{
    transform: scale(1.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.t3 .opt2 label {
    margin-left: 35px;
    padding: 10px;
    color: white;
    background-color: rgba(0,0,0,.7);
}

.t3 .opt2 ul {
    list-style: none;
}
.t3 .opt2 ul li {
    display: inline-block;
}
.t3 .opt2 ul li a{
    display: inline-block;
    border: 1px solid #f2f2f2;
    padding-left: 0px;
    font-size: 13px;
    color: white;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;

}
.t1 .opt2 ul li a img, .t2 .opt2 ul li a img,  .t3 .opt2 ul li a img{
    width: 34px;
    height: 34px;
    display: block;
    font-size: 13px;
    color: white;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
}
.t3 .opt2 ul li a:hover img{
    transform: scale(1.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#package-section label{
    padding:8px;
}
#package-section .opt1 .btn {
    margin-left: 300px;
    margin-top: 20px;
    margin-bottom: 20px;

}

#package-section .col-md-4{
    background-color: rgba(0,0,0,.7);
}

#package-section select {
    padding:8px;
    margin: 0;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    box-shadow: 0 3px 0 #1b3d9e, 0 -1px #fff inset;
    background: #f8f8f8;
    color:blue;
    width: 268px;
    display: inline-block;
    margin-left: 10px;
    cursor:pointer;

}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    #package-section   select {padding-right:18px}
}

#package-section .options .op{
    position:relative;
    margin-top: 15px;

}
#package-section .options .op:after {
    font:11px "Consolas", monospace;
    color:#aaa;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:rotate(90deg);
    right:8px; top:2px;
    padding:0 0 2px;
    border-bottom:1px solid #ddd;
    position:absolute;
    pointer-events:none;
}
#package-section .options .op:before {

    right:6px; top:0px;
    width:20px; height:20px;
    background:#f8f8f8;
    position:absolute;
    pointer-events:none;
    display:block;
}


/* END OF MAIN PACKAGE SECTION */




/**EVERYTHING IN HEADER**/
.navbar-default {
    background-color: transparent;
}
.main-header
{
    background: url('../images/header.png') no-repeat;
    background-size: cover;
    height: 610px;
}
.bg-color
{
    background-color: RGBA(0, 0, 0, 0.41);
    height: 710px;
}

.nav > li > a {
    padding: 0px;
}
.navbar-brand
{
    padding: 0px;
    height: inherit;
    font-family: 'Lato', sans-serif;
    margin:0;

}
.navbar-default .navbar-brand {
    color: #fff;
    font-size: 34px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    color: #FFD34E;
    background-color: transparent;
    text-transform: uppercase;
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
    padding: 0px 20px;
    text-transform: uppercase;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus
{
    color: #FFD34E;
}

.navbar-fixed-top {
    transition: all 0.8s;
}

.top-nav-collapse {
    background: rgba(0,0,0,0.8);
    height: 75px;
}


.wrapper
{
}
.top-title
{
    z-index: 5;
    font-size: 27px;
    font-weight: 700;
    color: #fff;
    line-height: 38px;
    letter-spacing: 4px;
    opacity: 1;
    text-transform: uppercase;
}
.sub-title
{
    font-size: 50px;
    font-weight: 700;
    color: #fff;
    line-height: 71px;
    letter-spacing: 4px;
    opacity: 1;
    text-transform: uppercase;
}

.title
{
    font-size: 100px;
    font-weight: 700;
    color: #fff;
    letter-spacing: 4px;
    opacity: 1;
    text-transform: uppercase;
    padding: 25px 0px;
    margin: 0px;
    margin-top:85px;
}
.title2
{
    font-size: 100px;
    font-weight: 700;
    color: #fff;
    letter-spacing: 4px;
    letter-spacing: 4px;
    opacity: 1;
    text-transform: uppercase;
    padding: 25px 0px;
    margin: 0px;
    margin-top:-40px;
    clear: both;
}

.btn-submit
{
    background: #FFD34E;
    display: inline-block;
    font-size: 16px;
    text-transform: uppercase;
    padding: 10px 40px;
    font-weight: normal;
    border-radius: 0px;
    letter-spacing: 1px;
    color: #333;
    position: relative;
    overflow: hidden;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    margin-top: 25px;
    border: 2px solid  #FFD34E;
}

.btn-submit:hover {
    background: #fff;
}
/**END OF EVERYTHING IN HEADER**/


/**TEAM SECTION**/
.cta-info
{
    color: black;
    border: 5px solid #FFD34E;
    padding: 40px 0px;
}
.cta-info h3
{
    font-size: 24px;
}
.dec-tec
{
    font-size: 34px;
}
.parallax {
    background-attachment: fixed;
    background-repeat: repeat-y;
    background-position: center center;
}
.bg-image-2 {
    background: url('../images/cta-banner.jpg') no-repeat center fixed;
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -o-background-size: 100% auto;
    background-size: 100% auto;

}


/**END OF TEAM SECTION**/


/**CONTACT SECTION**/

#contact
{
    background-color: #f8f8f8;
}

.validation {
    color: red;
    display:none;
    margin: 0 0 20px;
    font-weight:400;
    font-size:13px;
}

#sendmessage {
    color: green;
    border:1px solid green;
    display:none;
    text-align:center;
    padding:15px;
    font-weight:600;
    margin-bottom:15px;
}

#errormessage {
    color: red;
    display:none;
    border:1px solid red;
    text-align:center;
    padding:15px;
    font-weight:600;
    margin-bottom:15px;
}

#sendmessage.show, #errormessage.show, .show {
    display:block;
}

.black
{
    color: #000 !important;
    font-weight: 600;
}
.btn-send
{
    border-radius: 0px;
    color: #000;
    background-color: #FFD34E;
}
a, a:hover
{
    color: #FFD34E;
}
.cont-title
{
    font-size: 24px;
    padding:15px 0px;
}
.location-info p span {
    display: inline-block;
}
.location-info p span {
    width: 40px;
    font-size: 24px;
    color: #666;
    vertical-align: middle;
}
.location-info p {
    margin-bottom: 5px;
}
.location-info p {
    font-size: 18px;
    line-height: 32px;
    color: #000;
}
.contact-icon-container {
    position: absolute;
    top: -38px;
    right: 0;
    padding-right: 20px;
    font-size: 320px;
    color: #555;
    line-height: 300px;
    -ms-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
}

/** END OF CONTACT SECTION**/

/** FOOTER SECTION**/
#footer
{
    background-color: #191919;
    padding: 20px 0px;
}
.footer-copyright {
    color: #fff;
    line-height: 32px;
    text-align: left;
}
.footer-social
{
    float: right;
}
.footer-social a {
    font-size: 18px;
    color: #666;
    padding: 8px;
}
.link-dec, .link-dec:hover{
    color: #000;
}


.fa-facebook{
    color: blue;
}
.fa-twitter{
    color:#1E90FF;
}
.fa-google-plus{
    color:#DC143C;

}
.fa-instagram{
    color: #8B4513;
}

/****/
@media (min-width: 451px) and (max-width: 900px){
    .section-title{
        margin-bottom: 15px;
    }
}
@media (min-width: 20px) and (max-width: 450px){
    .margin-pro{
        margin: 5px;
    }
    ul.nav.navbar-nav {
        padding: 5px;
        position: absolute;
        width: 90%;
        background: #404040;

    }
    .navbar-toggle:hover, .navbar-toggle{
        background-color: #fff;
        color: #000;

    }
    .navbar-toggle{
        margin-top: 10px;
    }
    .navbar-default .navbar-nav > li > a{
        text-align: center;
        color: #ddd;
    }
    .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
        background-color: rgba(255, 255, 255, 0.32);
        color: #FFD34E;
    }
    .top-title{
        font-size: 15px;
    }
    .title{
        font-size: 50px;
        line-height: 10px;
        margin-top: 280px;

    }
    #header .title3
    {
        font-size: 70px;
        font-weight: 700;
        color: #fff;
        line-height: 78px;
        letter-spacing: 4px;
        opacity: 1;
        text-transform: uppercase;
        padding: 25px 0px;
        margin-top: 240px;
    }


    .title2{
        font-size: 50px;
        line-height: 10px;
        margin-top: 4px;
        clear:both;

    }
    .wrapper{
        margin-top: 110px;
    }
    .sub-title{
        font-size: 24px;
    }
    .footer-copyright {
        text-align: center;
    }
    .padding-right-zero{
        padding-right: 15px;
    }
    .section-title{
        margin-bottom: 15px;
    }
    .cta-txt h3{
        font-size: 28px;
    }
    body{
        font-size: 14px;
    }
    h3.txt-tl{
        font-size: 20px;
    }

    #package-section .opt1 .btn {

        margin-left: 80px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    #prod .type3 h2{
        font-size: 18px;
        font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
        color: white;
        text-align: center;
        margin-top: 35px;
    }

    #prod .steps h2{
        font-size: 20px;
        font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
        margin-top:15px;
        clear:both;
    }
    .btn-submit {
        background: #FFD34E;
        display: inline-block;
        font-size: 16px;
        text-transform: uppercase;
        padding: 10px 40px;
        font-weight: normal;
        border-radius: 0px;
        letter-spacing: 1px;
        color: #333;
        position: relative;
        overflow: hidden;
        -webkit-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
        -ms-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
        margin-top: 25px;
        border: 2px solid #FFD34E;
        margin-bottom: 35px;
    }



}
/****/

.clip-svg {
    width: 0;
    height: 0;

}
img {
    max-width: 100%;
    height: auto;
}

.polygon-clip-hexagon {
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    -webkit-clip-path: url("#polygon-clip-hexagon");
    clip-path: url("#polygon-clip-hexagon");
}

.polygon-each-img-wrap{
    position: absolute;

}


/* EXPERIMENT TIME  */


.about-header
{
    background: url('../images/header.png') no-repeat;
    background-size: cover;
}
.about-header .title3
{
    font-size: 80px;
    font-weight: 700;
    color: #fff;
    line-height: 78px;
    letter-spacing: 4px;
    opacity: 1;
    text-transform: uppercase;
    padding: 25px 0px;
    margin-top: 200px;

}

.who
{
    background: url('../images/who.jpg') no-repeat;
    background-size: cover;
}
.who1
{
    background: url('../images/who2.jpg') no-repeat;
    background-size: cover;

}


.who h2{
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    text-align: left;
}

.who p{
    font-family: 'Lato', sans-serif;
    font-size: 10pt;
    text-align: left;

}
.who1 .trust h2, .craft h2, .qua-service h2{
    font-family: 'Lato', sans-serif;
    font-size:15pt;
    text-align: left;
    color:white;
    margin-left: 120px;
    clear:both;
}

.who1 p{
    font-family: 'Lato', sans-serif;
    font-size: 10pt;
    text-align: left;
    color:white;
    margin-left: 120px;
    clear:both;
}


.who1 img {
    top: 25%;
    position: absolute;
    margin-left: 22px;
    text-indent:20px;
    padding: 20px;
    clear:both;
}



/* MAIN CONTENT2 SECTION */
#content2 {

    background: #eee;
    text-align: center;
    padding: 20px;

}
#content2 h1{
    font-size: 36px;
    font-weight: bolder;



}


/* END OF MAIN CONTENT2 SECTION */



/* GALLERY SECTION */
#gallery h2
{
    padding-bottom: 30px;
}
#gallery .gallery-thumb
{
    overflow: hidden;
    margin: 0;
    position: relative;
}
#gallery .gallery-thumb .gallery-overlay
{
    background: #333;
    color: #ffffff;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    padding: 60px 60px 0px 60px;
    text-align: center;
    position: absolute;
    opacity: 0;
    transition: all 0.4s ease-in-out;
}
#gallery .gallery-thumb:hover .gallery-overlay
{
    opacity: 0.9;
    transform: scale(1.1);
}
#gallery .gallery-thumb .gallery-overlay .fa
{
    border: 1px solid #ffffff;
    border-radius: 50%;
    color: #ffffff;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    margin-right: 6px;
    margin-bottom: 10px;
}
#gallery .btn1 .btn
{

    border-radius: 0;
    border: 2px solid transparent;
    color: #FFFFFF;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    height: 50px;
    width: 200px;
    font-size: 12pt;
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif, Roboto;
    top: 18px;
    margin-bottom: 20px;
    margin-left: 605px;

}

/*filter css*/
.filter-wrapper {
    width: 100%;
    margin: 0 0 24px 0;
    overflow: hidden;
    text-align: center;
}
.filter-wrapper li {
    display: inline-block;
    margin: 4px;
}
.filter-wrapper li a {
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #999;
    padding: 8px 17px;
    display: block;
    text-decoration: none;
}
/*isotope box css*/
.iso-box-section {
    width: 100%;
    margin: 0 0 24px 0;
}
.iso-box-wrapper {
    width: 100%;
    padding: 0;
    clear: both;
    position: relative;
}
.iso-box {
    position: relative;
    min-height: 30px;
    float: left;
    overflow: hidden;
    margin-bottom: 20px;
}
.iso-box > a {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.iso-box > a {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.fluid-img {
    width: 100%;
    display: block;
    height: auto;
}

#gallery .btn-default{
    background: #DCDCDC;
    font-size:12pt;
    width:80px;
    height: 30px;
    text-transform: uppercase;
    font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif

}

#gallery .btn-primary{
    font-size:12pt;
    width:80px;
    height: 30px;
    text-transform: uppercase;
    font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif

}

#gallery h3{
    font-size: 23px;
    font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    top: 10%;



}

/* END OF GALLERY SECTION */

/*  BUYING GUIDE SECTION */


#guide-section {
    background: white;
    margin: 0 auto;


}



#guide-section img {
    top: 25%;
    position: absolute;
    margin-left: -8px;
    text-indent:20px;
    clear:both;
}

#guide-section p {
    color: black;
    font-size: 11pt;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif, roboto;
    text-align: justify;
    margin-left: 12px;
    clear:both;

}

#guide-section h2{
    color: black;
    margin-left: 12px;

}

#guide-section .service-content{
    margin-left: 93px;
}
#guide-section .service{
    margin: 0 auto;
}
form.contactForm {
    margin-bottom: 20px;
}
/* END OF BUYING GUIDE SECTION */

/* PAGINATION */

.pagination>li>a, .pagination>li>span {
    border-radius: 50% !important;
    margin: 0 5px;

}

/* END OF PAGINATION */

/* PRODUCT SECTION */
#prod{

    margin-top: 45px;
}
#prod h2{

    font-size: 30px;
    font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
}
#prod strong{
    color: #3F39C4;

}
#prod .steps{
    clear:both;
    margin-top:-55px;
}
#prod .type1{
    background: url('../images/type1-1.png') no-repeat;
    background-size: cover;
    height: 230px;

    clear:both;
}
#prod .type1 h2{
    font-size: 18px;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    color: white;
    text-align: center;
    margin-top: 35px;
}
#prod .type1 .btn{
    background: url('../images/select.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: #f6f6f6;
    height: 45px;
    width: 170px;
    padding-left: 8px;
    margin-left: 119px;
    font-size: 12pt;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    margin-top: 35px;
    margin-bottom:30px;

}

#prod .type2{

    background: url('../images/stained.jpg') no-repeat;
    background-size: cover;
    height: 230px;
    clear:both;
}
#prod .type2 h2{
    font-size: 18px;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    color: white;
    text-align: center;

    margin-top: 35px;
}
#prod .type2 .btn{
    background: url('../images/select.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: #f6f6f6;
    height: 45px;
    width: 170px;
    padding-left: 8px;
    margin-left: 119px;
    margin-top: 35px;
    font-size: 12pt;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    margin-bottom:30px;
}
#prod .type3{

    background: url('../images/painted.jpg') no-repeat;
    background-size: cover;
    height: 230px;
    clear:both;
}
#prod .type3 h2{
    font-size: 18px;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    color: white;
    text-align: center;

    margin-top: 35px;
}
#prod .type3 .btn{
    background: url('../images/select.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: #f6f6f6;
    height: 45px;
    width: 170px;
    padding-left: 8px;
    margin-left: 119px;
    margin-top: 35px;
    font-size: 12pt;
    font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    margin-bottom:30px;

}
#prod .step2{

    background: url('../images/step2.jpg') no-repeat;
    background-size: cover;
    padding: 0;
    clear:both;
}

#prod .droplist select {
    background: url('../images/list.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 22px;
    width: 160px;
    position: absolute;
    font-family: Roboto;
    color: black;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    left: 80px;
}

#prod .steps h2{
    font-size: 20px;
    font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    margin-top:45px;
    clear:both;
}



#prod .steps .step2 .opt {
    background: url('../images/opt.png') no-repeat;
    height: 100px;
    width:100px;
    margin-left: 298px;
    margin-top:-35px;



}

#prod .steps .step2  ul {
    padding: 0;
    margin: 50px 20px;
    list-style: none;

}
#prod .steps .step2     ul li {
    margin: 5px;
    display: inline-block;
}
#prod .steps .step2     ul li a {
    padding: 5px;
    display: inline-block;
    border: 1px solid #f2f2f2;
    font-size: 10pt;
    color: black;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
}
#prod .steps .step2  ul li a img {
    width:85px;
    height: 85px;
    display: block;
    font-size: 18px;
    color: black;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
}


#prod .steps .step2  .boptions li a img {
    width:140px;
    height:140px;
    display: block;
    font-size: 18px;
    color: black;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
}
#prod .steps .step2 strong{

    font-weight:bolder;
    color:red;
    font-size: 12pt;
}
#prod .steps .step2    ul li a:hover img {
    transform: scale(1.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#prod .steps .step2 .boptions li a:hover img {
    transform: scale(1.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}



#prod .steps .step2 label{
    color: black;
    font-size: 9pt;
    font-family: 'Lato', sans-serif;
    margin-left:12px;
    margin-right:12px;
}
#prod .steps .step2 .size{
    color: black;
    font-size: 9pt;
    font-family: 'Lato', sans-serif;
    margin-left:11px;
    margin-right:15px;
    margin-top: 5px;
    position:absolute;

}
#prod .btn1 .btn
{

    border-radius: 0;
    border: 2px solid transparent;
    color: #FFFFFF;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    height: 50px;
    width: 200px;
    font-size: 12pt;
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif, Roboto;
    top: 18px;
    margin-bottom: 20px;
    margin-left: -415px;
    margin-top: 350px;

}




/* RADIO BUTTONS*/

.radio {
    display:inline-block;
    margin-left: 11px;


}


/* END OF PRODUCT SECTION */

/* ESTIMATE SECTION */

.estimate {

    background: url('../images/result.jpg') no-repeat;
    background-size: cover;
    clear:both;
    position: absolute;
    margin-left:680px;
    margin-top: 65px;

}

.estimate h4{

    color: white;
    text-align: center;

}
.estimate h3{
    color: black;
    font-size: 26pt;
    font-weight:bolder;
    font-family: 'Lato', sans-serif;
}
.estimate em{
    color: black;
    font-size: 9pt;
    font-family: 'Lato', sans-serif;
    margin-left:12px;
    margin-right:12px;
}
.estimate label{
    color: black;
    font-size: 9pt;
    font-family: 'Lato', sans-serif;
    margin-left:12px;
    margin-right:12px;
}


/* END OF ESTIMATE SECTION */



#prod .steps .accordion * {
    margin: 0;
    padding: 0;
}

#prod .steps .accordian {
    width: 805px; height: 320px;
    overflow: hidden;

    /*Time for some styling*/
    margin: 100px auto;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
}


#prod .steps .accordian ul {
    width: 2000px;

}

#prod .steps .accordian li {
    position: relative;
    display: block;
    width: 160px;
    float: left;

    border-left: 1px solid #888;

    box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);

    /*Transitions to give animation effect*/
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    /*If you hover on the images now you should be able to
    see the basic accordian*/
}

/*Reduce with of un-hovered elements*/
#prod .steps .accordian ul:hover li {width: 40px;}

/*Lets apply hover effects now*/

#prod .steps .accordian ul li:hover {width: 640px;}


#prod .steps  .accordian li img {
    display: block;
}

/*Image title styles*/
#prod .steps .image_title {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0; bottom: 0;
    width: 640px;

}
#prod .steps .image_title a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 20px;
    font-size: 16px;
}
